.sfondo { background-image: url(../img/pattern.png);
          background-color: #2196f3;
          background-size: 37%;
          height: 100px;
}

.logo{height: 130px;
      width: 150px;
}

.titolo{font-size: 40px;}

.nome{color: aqua;}

.fonttesto{color: gray;}

.fontdata{color: gray;
          font-size: 15px;
}
.testoevidenziato{background-color: yellow;}

.tabella{border-collapse: collapse;
         text-align: left;
}

.thead{color: white; background-color: #106cc3; }

.rigadispari{background-color: #2196f3;}


.monitor{position: relative; color: white;}
.testomonitor{position: absolute; top: 8px; left: 16px;}

.graph{position: relative; color: white;}
.testograph{position: absolute; top: 8px; left: 16px;}


